.button {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 12px 38px;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color, .2s linear;

}

.button:hover {
    background-color: var(--secoundary-hover);
    transform: scale(1.1)
}

.form > .button {
    padding: 12px 20px;
    float: right;
}

.back-to-top {
    position: relative;
}

.back-to-top > .button {
    position: absolute;
    top: -60px;;
    right: -30px;
    font-size: 27px;
    padding: 0;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}