.button {
    outline: none;
    border: none;
    padding: 12px 38px;
    color: #fff;
    background-color: #e91e63;
    font-size: 16px;
    cursor: pointer;
}

.form-btn {
    padding: 12px 20px;
    float: right;
}