.button {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 12px 38px;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color, .2s linear;

}

.button:hover {
    background-color: var(--secoundary-hover);
    transform: scale(1.1)
}

.form > .button {
    padding: 12px 20px;
    float: right;
}