.clock {
    display: inline-block;
    width: 100%;
}

.clock-box {
    display: inline-block;
    width: 25%;
    float: left;
}

.clock-box .number {
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}

.clock-box .number-subtitle {
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 600px){
    .clock {
        display: inline-block;
        width: 80%;
    }
    .clock-box {
        display: inline-block;
        width: 50%;
        float: left;
    }
}