/* Basic styles */ 
.bg-blue {
    background-color: #03a9f4;;
}


/* Hero section */

.hero {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;

}

.hero .logo {
    margin-bottom: 40px;
    margin-top: 120px;
}

.hero-title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-text {
    line-height: 1.5;
    color: #999;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
}

.clock {
    margin-bottom: 60px;
}

.subscribe input {
    display: inline-block;
    width: 85%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
    padding: 15px 0;
    margin-bottom: 40px;
    color: #fff;
    font-size: 15px;
}

.subscribe input::placeholder {
    color: #fff;  
}


/* Main section */



.left-column {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 30px;
}


.right-column {
    display: inline-block;
    width: 40%;
    float: right;
    margin-top: 30px;
}

.main-title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 15px;
    line-height: 1.8;
    color: #999;
    margin-bottom: 10px;
}


@media (max-width: 900px) {

    .left-column {
        width: 100%;
        margin-bottom: 60px;
    }
    .right-column {
        width: 100%;
    }
}



/* Footer section */

.footer {
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.footer-text {
    font-size: 15px;
    line-height: 1.8;
    color: #fff8;
}

.footer a {
    color:#fff;
    text-decoration: none;
}

.footer .fa {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s;
}

.footer .fa:hover {
    background-color: #fff;
    color: #03a9f4;
}

.footer-logo {
    height: 60px;
    margin: 20px 0;
}

.buttom-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 20px;
}

.buttom-text > p {
    position: relative;
}

.buttom-text > p::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #fff8;;
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    
}
.buttom-text > p:first-of-type::before {
    display: none;

}

.short-row > p {
    display: inline-block;
    width: 100%;
}

@media (max-width: 700px){
    .buttom-text {
         flex-direction: column;
    }
    .buttom-text > p::before {
        display: none;
    }
}

.socials {
    border-bottom: 1px solid #fff8;

}
