.mouse {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 15px;
    margin-top: 80px;
}

.wheel {
    display: inline-block;
    width: 3px;
    height: 8px;
    background-color: #fff;
    margin-top: 10px;
    animation-name: scrollDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes scrollDown {

    0% {
        margin-top: 10px;
        opacity: 1;
    }

    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

