.progress-bar {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #999;
}

.bar-block {
    display: flex;
    justify-content: space-between;

}

.bar {
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: #c0c0c0;
    margin: 20px 0;
}

.bar-line {
    display: inline-block;
    height: 100%;
    width: 80%;
    float: left;
    background-color: #c0c0c0;
    border-radius: 2px;

  
}

.bar-overlay {
    display: inline-block;
    float: left;
    width: 0;
    height: 100%;
    background-color: #03a9f4;
    border-radius: 2px;
    animation-name: loading;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes loading {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .bar {
        margin: 30px 0;
    }
}